*{
    box-sizing: border-box;
}

body{
    font-size: 16px;
    color: rgba(0, 0, 0, 0.877);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 1.8;
    margin: 0;
}

.topbar
{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: white;
    padding: 30px;
}

.topbar nav
{
    float: left;
}

.topbar nav a
{
    color: #9f9f9f;
    text-decoration: none;
    font-weight: 500;
    margin: 0 53px;
    
}

.topbar nav a:hover, .topbar nav a.active
{
    color: #000;
}

.topbar .social
{
    float: right;
}

.social
{
    float: right;
}

.social a img
{
    width: 20px;
}
.social a
{
    padding: 12px;
    opacity: .5;
}

.social a:hover
{
    opacity: 1;
}

.banniere
{
    height: 450px;
    /*
    margin-top: 50px;
    background: no-repeat center center / cover url("img/header.jpg") fixed;
    */
    background-image: url("img/header.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.main
{
    float: left;
    background-color: #FFF;
    width: calc(100% - 372px);
    position: relative;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.11);
    z-index: 2;
}

.sidebar
{
    float: right;
    height: 200px;
    background-color: #fbfbfb;
    width: 372px;
    padding: 40px;
    position: relative;
    font-size: 17px;
    z-index: 1;
}

.sidebar-title
{
    font-size: 30px;
    color: #000;
    margin: 35px 0;
}

.sidebar-title:first-child
{
    margin-top: 0;
}

.sidebar a{
    color: #9f9f9f;
    text-decoration: none;
}

.sidebar a:hover{
    text-decoration: underline;
}

.sidebar ul
{
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 2.3;
}

.footer
{
    clear: both;
}

.sidebar hr
{
    border: none;
    background-color : #c4c4c4;
    height: 1px;
    margin: 50px 0;
}

.article-img
{
    float: left;
    width: 308px;
}

.article-img img
{
    width: 100%;
    height: auto;
}

article
{
    overflow: hidden;
}



