.marg
{
    margin-top: 229px !important ;
}

.marg-center
{
    margin-top: 120px !important ;
    margin-bottom: 100px !important;
}

.modif
{
    width: 80%;
    margin: 21px auto;
    height: 40px;
    border-radius: 10px;
    padding-top: 5px;
    border: 1px solid rgb(1, 72, 94);
}